.banner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 8;
}

.banner h3 {
  background-color: var(--green);
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}