.nav {
	height: 100dvh;
	padding: 50px 25px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: right;
	grid-area: nav;
}

header {
	position: sticky;
	top: 0;
}

.nav a {
	cursor: pointer;
	text-decoration: none;
}

.nav a+a {
	margin-top: 25px;
}

.nav .logo {
	padding: 0;
}

.nav .logo::after {
	content: none;
}

.nav .separator {
	border-right: 1px solid var(--orange);
	margin: 25px 0;
	flex-grow: 1;
}

.a11y-hidden {
	visibility: hidden;
	display: none;
}