.nav {
	height: 100dvh;
	padding: 50px 25px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: right;
	grid-area: nav;
}

header {
	position: sticky;
	top: 0;
}

.nav a {
	cursor: pointer;
	text-decoration: none;
}

.nav a+a {
	margin-top: 25px;
}

.nav .logo {
	padding: 0;
}

.menu-toggle {
	border: 1px solid var(--orange);
	color: var(--orange);
	text-transform: uppercase;
	padding: 15px 25px;
	font-size: 20px;
	display: none;
}

.nav .logo::after {
	content: none;
}

.nav .separator {
	border-right: 1px solid var(--orange);
	margin: 25px 0;
	flex-grow: 1;
}

.a11y-hidden {
	visibility: hidden;
	display: none;
}

@media (min-width: 320px) and (max-width: 1024px) {
	.nav {
		padding: 25px;
		flex-direction: row;
		height: auto;
		z-index: 9;
	}

	.nav a {
		font-size: 20px;
	}

	.navHeader {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	.nav.open {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 100dvh;
		justify-content: start;
		flex-direction: column;
		background: var(--brown);
	}

	.nav.open a:not(.logo, .menu-toggle) {
		display: flex;
	}

	.nav a:not(.logo, .menu-toggle) {
		display: none;
	}

	.nav a:nth-child(2) {
		margin-top: 25px;
	}

	.logo img {
		width: 70px;
	}

	.menu-toggle {
		display: flex;
		margin-top: 0 !important;
	}
}