@import "colors.css";
@import "typography";

:root {
	/* color-scheme: light dark; */
	/* color: var(--black); */
}

@media (prefers-color-scheme: dark) {
	/* :root {
		color: #fff;
		
	} */
}

body {
	margin: 0;
	padding: 0;
}

.a11y-hidden {
	display: none;
}