@import url("http://fonts.googleapis.com/css?family=Fragment+Mono&display=swap");

:root {
  font-family: "Fragment Mono", arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: white;
}

a {
  color: white;
  box-shadow: inset 1px 1px 1px var(--orange);
}

h1, h2, h3, p, a, span {
  margin: 0;
  padding: 0;
}

h2+p {
  margin-top: 25px;
}

a, p {
  width: 100%;
  max-width: 600px;
}

p+p {
  margin-top: 25px;
}