.footer {
  padding: 50px;
  grid-area: footer;
}

.footer p {
  border-top: 1px solid var(--orange);
  padding-top: 25px;
  font-size: 10px;
}

.footer img {
  position: relative;
  top: 2px;
}

.footer a:hover::after {
  content: '';
}

@media (min-width: 320px) and (max-width: 1024px) {
  .footer {
    padding: 25px;
  }
}